@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

body {
    overflow-x: hidden;
}
.big1 {
    width: 1920px;
    margin: 0 auto;
}
#gage {
    width: 900px;
    height: 200px;
    margin: 70px auto;
}
#pageText {
    width: 100%;
    height: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    border-bottom: 2px solid rgb(182, 182, 182);
}
#circle1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    float: left;
    background-color: rgb(249, 104, 128);
    border: 3px solid rgb(249, 104, 128);
    margin-left: 213px;
    z-index: 1;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: white;
}
#circle2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    float: left;
    background-color: rgb(249, 104, 128);
    border: 3px solid rgb(249, 104, 128);
    margin-left: 80px;
    z-index: 1;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: white;
}
#circle3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    float: left;
    background-color: rgb(249, 104, 128);
    border: 3px solid rgb(249, 104, 128);
    margin-left: 80px;
    z-index: 1;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: white;
}
#circle4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    float: left;
    background-color: rgb(249, 104, 128);
    border: 3px solid rgb(249, 104, 128);
    margin-left: 80px;
    z-index: 1;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: white;
}
#line {
    width: 100px;
    border: 2px solid rgb(249, 104, 128);
    margin: 25px 0 0 260px;
    position: absolute;
    z-index: -1;
}
#line2 {
    width: 100px;
    border: 2px solid rgb(249, 104, 128);
    margin: 25px 0 0 400px;
    position: absolute;
    z-index: -1;
}
#line3 {
    width: 100px;
    border: 2px solid rgb(249, 104, 128);
    margin: 25px 0 0 520px;
    position: absolute;
    z-index: -1;
}
#label {
    width: 60px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    margin-left: 10px;
    font-size: 15px;;
}
.big3 {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
#q1 {
    width: 100%;
    height: 400px;
    font-weight: bold;
    margin-top: 30px;
}
#hr1 {
    border: 1px solid rgb(182, 182, 182);
    margin-bottom: 30px;
}
#first {
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
}
#second {
    font-size: 13px;
    text-align: center;
    color: rgb(249, 104, 128);
    margin: 0;
}
#yesorno {
    margin: 80px auto;
    width: 700px;
    height: 20px;
}
#yeno {
    width: 15px;
    height: 15px;
}
#text1 {
    color: rgb(182, 182, 182);
}
[type="radio"]:checked {
    appearance: none;
    box-shadow: 0 0 0 1px rgb(249, 104, 128);
    border: 4px solid white;
    border-radius: 50%;
    background-color: rgb(249, 104, 128);
}
.nextBack {
    width: 300px;
    height: 100px;
    margin: 0px 810px 30px 810px;
    float: left;
    line-height: 100px;
}
.before-btn {
    float: left;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: 1px solid #ced4da;
}
.next-btn {
    float: right;
    width: 150px;
    height: 40px;
    font-size: 15px;
    border: 1px solid rgb(249, 104, 128);
    background-color: rgb(249, 104, 128);
    color: white;
}
.before-btn:active {
    background-color: #bbbbbb;
}
.next-btn:hover {
    border: 3px solid rgb(249, 104, 128);
    background-color: rgb(247, 131, 150);
}
.input_in {
	width : 600px;
	margin : 0 auto;
	margin-top : 30px;
}