@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

main {
    width: 100%;
}
.main_in {
    width: 100%;
}
body {
    margin: 0;
}
.test_title {
    text-align: center;   
}
.test_title h6 {
    font-size: 27px;
    text-align: center;
    font-weight: 500;
    margin: 50px 0 20px 0;
}
.test_title h6::after {
    width: 140px;
    height: 5px;
    margin: 10px auto 0;
    background-color: #fc7c8c;
    display: block;
    content: '';
}
.progress {
    width: 750px; height: 30px;
    border: 1.5px solid black;
    border-radius: 20px;
    margin: 0 auto;
}
.progress_in{
    height: 100%;
    background-color: #febec9;
    border-radius: 20px;
}
.test_back {
    background: url(test2/test_background2.png) center no-repeat;
    width: 650px; height: 600px;
    margin: 30px auto;
    background-size: cover;
    padding: 40px;
    border: 1.5px solid black;
}
.test_title p {
    font-size: 25px;
    text-align: center;
    margin-top:50px;
}
.test2_start {
    background: url(test2/test2_start.png) center no-repeat;
    width: 500px; height: 422px;
    background-size: cover;
    margin: 0 auto;
    margin-bottom : 70px;
    margin-top: 20px;
}
.start_btn {
    width: 400px; height: 70px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(249, 104, 128);
    margin: 0 auto;
    line-height: 70px;
    font-size: 26px;
    color: white;
    font-weight: 700;
}
.progress_heart {
    background: url(heart.png) center no-repeat;
    background-size: cover;
    width: 50px; height: 50px;
    margin-left: 710px;
    margin-top: -40px;
    position: relative;
}
.progress_heart_full {
    background: url(heart_full.png) center no-repeat;
    background-size: cover;
    width: 50px; height: 50px;
    margin-left: 710px;
    margin-top: -40px;
}
.test2_img {
    width: 400px; height: 400px;
    margin: 0 auto;
}
.test2_img img {
    width: 100%; height: 100%;
}
.test2_open , .test2_close {
    width: 650px; height: 560px;
    position: absolute;
    margin: 0 auto;
}
.test2_close {
    display: none;
}
.select_A {
    width: 400px; height: 55px;
    text-align: center;
    border-radius: 10px;
    border:2px solid rgb(249, 104, 128);
    margin: 10px auto;
    line-height: 55px;
    font-size: 20px;
    color: rgb(249, 104, 128);
    font-weight: 700;
}

.select_B {
    width: 400px; height: 55px;
    text-align: center;
    border-radius: 10px;
    border:2px solid rgb(249, 104, 128);
    margin: 15px auto;
    line-height: 55px;
    font-size: 20px;
    color: rgb(249, 104, 128);
    font-weight: 700;
}

.test_back p {
    font-size: 24px;
    text-align: center;
    margin: 15px auto;
}

.left_arrow {
    background: url(leftarrow.png) center no-repeat;
    background-size: cover;
    width: 80px; height: 80px;
    left: 0;
    top: 260px;
    position: absolute;
}
.right_arrow {
    background: url(rightarrow.png) center no-repeat;
    background-size: cover;
    width: 80px; height: 80px;
    right: 0;
    top: 260px;
    position: absolute;
}

/*결과 */
.result_back {
    background: url(test2/test_background2.png) center no-repeat;
    width: 650px; 
    margin: 30px auto;
    background-size: cover;
    padding: 40px;
    border: 1.5px solid black;
}
.result_p {
    text-align: center;
    font-size: 30px;
    color: rgb(249, 104, 128);
}
.result_title {
    font-size: 25px;
    text-align: center;
    margin: 0;
}
.result_back img {
    width: 400px; height: 400px;
    display: block;
    margin: 40px auto;
}
.result_detail{
    font-size: 18px;
    padding: 0 80px;
}
.result_detail  p {
    font-size: 20px;
    text-align: center;
}
.btn_more {
   width: 495px; height: 80px;
   margin: 0 auto;
   margin-top: 40px;
}
.share_btn {
    width: 200px; height: 70px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(249, 104, 128);
    line-height: 70px;
    font-size: 22px;
    color: rgb(249, 104, 128);
    font-weight: 700;
    float: left;
    margin: 0 20px;
}
.return_btn {
    width: 200px; height: 70px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(249, 104, 128);
    line-height: 70px;
    font-size: 22px;
    color: rgb(249, 104, 128);
    font-weight: 700;
    float: left;
    margin: 0 20px;
}